<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">

      </div>

<div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/rsimba"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">rsimba</span></a></li><li><a href="https://www.twitter.com/rsimba"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">rsimba</span></a></li></ul>
</div>


    <p class="small">© Copyright {{ site.time | date: '%Y' }} {{ site.author }}</p>

    </div>

  </div>
