
---
layout: default
---
<div class="container">
	<h2 class="spacing">{{ page.title }}</h2>

	<div class="blog-post spacing">
		<p class="summary">{{ page.category }} -
			<span class="reading-time" title="Estimated read time">
			{% assign words = content | strip_html | number_of_words %}
			{% if words < 360 %}
				1 min
			{% else %}
				{{ words | divided_by: 180 }} mins
			{% endif %}
			<span class="date">{{ page.date | date: '%B %d, %Y' }}</span>
		</p>
		{{ content }}
	</div>
</div>




{% include read_time.html %}
